.profile__image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.profile__image:hover .profile__image__overlay {
    background-color: rgba(0, 0, 0, 0.8);
}