.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent url('../../../images/edit-icon.svg') center no-repeat;
  background-size: 10px 10px;
  border: 1px solid #fff;
  grid-area: button;
  align-self: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  margin: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

